.cd-form-message{
    font-size: 18px;
        color: black;
}
#remember label{
    font-size: 15px;
    color: gray;
    font-weight: 100px;
    margin-left:5px;
    margin-bottom: 8px;
}
#remember input{
    float:left;
    margin-bottom: 8px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
#register{
    margin-top: -20px;
}
